name: Build pipa images
on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 5'

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Preparation
        run: mkdir out
        
      - name: Install pmbootstrap
        run: |
          git clone --depth=1 $(echo "aHR0cHM6Ly9naXRsYWIucG9zdG1hcmtldG9zLm9yZy9wb3N0bWFya2V0T1MvcG1ib290c3RyYXAuZ2l0" | base64 -d) pmb-git
          mkdir -p ~/.local/bin
          ln -s "$GITHUB_WORKSPACE/pmb-git/pmbootstrap.py" ~/.local/bin/pmbootstrap
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Setup pmaports
        run: |
          PMB="$HOME/.local/bin/pmbootstrap"
          
          # Классический init через эмуляцию ввода (v3-совместимый)
          # 1. Путь 2. Канал 3. Вендор 4. Девайс 5. UI 6. Доп.пакеты 7. systemd (never) 8. Остальное по дефолту
          echo -e "/home/runner/.local/var/pmbootstrap\nedge\nxiaomi\npipa\nconsole\nnone\nnever\nn" | $PMB init || true
          
          cd /home/runner/.local/var/pmbootstrap/cache_git/pmaports
          git remote add pipa $(echo "aHR0cHM6Ly9naXRodWIuY29tL3BpcGEtcHJvamVjdC9wbWFwb3J0cy1waXBhLmdpdA==" | base64 -d)
          git fetch pipa master
          git reset --hard pipa/master
          
          # ФИКСЫ
          find . -type f \( -name "APKBUILD" -o -name "deviceinfo" \) -exec sed -i "s/$(echo "cG9zdG1hcmtldG9zLWJhc2Utbm9mZGU=" | base64 -d)/$(echo "cG9zdG1hcmtldG9zLWJhc2U=" | base64 -d)/g" {} +
          sed -i 's/doas-sudo-shim,//g;s/font-twemoji,//g' device/*/device-xiaomi-pipa/deviceinfo || true
          
          $PMB checksum device-xiaomi-pipa
          $PMB checksum device-xiaomi-pipa-nonfree-firmware
          $PMB index

      - name: Build Plasma
        run: |
           pmbootstrap zap -y
           pmbootstrap install --password 147147 --ui plasma-mobile --no-fde --add gparted,parted
           pmbootstrap export
           cp /tmp/postmarketOS-export/boot.img out/boot-pipa-plasma.img
           cp /tmp/postmarketOS-export/xiaomi-pipa.img out/rootfs-pipa-plasma.img
      
      - name: Build GNOME
        run: |
           pmbootstrap zap -y
           pmbootstrap install --password 147147 --ui gnome --no-fde --add gparted,parted,nano
           pmbootstrap export
           cp /tmp/postmarketOS-export/boot.img out/boot-pipa-gnome.img
           cp /tmp/postmarketOS-export/xiaomi-pipa.img out/rootfs-pipa-gnome.img

      - name: Copy Kernel
        run: |
           cp /home/runner/.local/var/pmbootstrap/packages/edge/aarch64/linux-postmarketos-qcom-sm8250-pipa-*.apk out/ || true

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
           name: xiaomi-pipa-postmarketos
           path: out/*
           retention-days: 7
