name: Xiaomi Pad 6 Official Edge Build
on:
  push:
  workflow_dispatch:

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set current date variable
        run: echo "CURRENT_DATE=$(date +%Y-%m-%d)" >> $GITHUB_ENV
        
      - name: Create artifact directory
        run: mkdir out
        
      - name: Substitute placeholders and fix config
        run: |
           sed -i '/config_version/d' xiaomi-pipa.cfg
           sed -i '/\[pmbootstrap\]/a config_version = 3' xiaomi-pipa.cfg
           sed -i "s|HOME|$(echo $HOME)|g;s|NPROC|$(nproc)|g" xiaomi-pipa.cfg

      - name: Install pmbootstrap
        run: |
          U=$(echo "aHR0cHM6Ly9naXRsYWIucG9zdG1hcmtldG9zLm9yZy9wb3N0bWFya2V0T1MvcG1ib290c3RyYXAuZ2l0" | base64 -d)
          git clone --depth=1 "$U"
          echo "$PWD/pmbootstrap" >> $GITHUB_PATH

      - name: Prepare Ports
        run: |
          mkdir -p $HOME/.config
          cp xiaomi-pipa.cfg $HOME/.config/pmbootstrap.cfg
          P_URL=$(echo "aHR0cHM6Ly9naXRsYWIucG9zdG1hcmtldG9zLm9yZy9wb3N0bWFya2V0T1MvcG1hcG9ydHMuZ2l0" | base64 -d)
          git clone --depth=1 -b master "$P_URL" $HOME/pmaports_tmp

      - name: Build xiaomi-pipa
        run: |
           PMB="python3 $PWD/pmbootstrap/pmbootstrap.py -y -c $HOME/.config/pmbootstrap.cfg"
           mkdir -p $HOME/pmb_work/cache_git
           mkdir -p $HOME/pmb_work/chroot_native
           mkdir -p $HOME/pmb_work/packages
           mv $HOME/pmaports_tmp $HOME/pmb_work/cache_git/pmaports
           $PMB config work $HOME/pmb_work
           
           $PMB install --password 147147
           $PMB export
           
           cp /tmp/postmarketOS-export/boot.img out/boot-xiaomi-pipa.img
           cp /tmp/postmarketOS-export/xiaomi-pipa.img out/rootfs-xiaomi-pipa-none.img

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
           name: xiaomi-pipa-none_${{ env.CURRENT_DATE }}
           path: out/*.img*
           retention-days: 7
           
