name: Build Xiaomi Pad 6 postmarketOS Edge
on:
  push:
  workflow_dispatch:

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Free disk space
        run: |
          sudo rm -rf /usr/share/dotnet /opt/ghc "/usr/local/share/boost" "$AGENT_TOOLSDIRECTORY"

      - name: Create workspace
        run: mkdir out
        
      - name: Install pmbootstrap
        run: |
          U=$(echo "aHR0cHM6Ly9naXRsYWIucG9zdG1hcmtldG9zLm9yZy9wb3N0bWFya2V0T1MvcG1ib290c3RyYXAuZ2l0" | base64 -d)
          git clone --depth=1 "$U"
          echo "$PWD/pmbootstrap" >> $GITHUB_PATH

      - name: Configure pmbootstrap
        run: |
          # Чистый init для создания структуры
          (echo "edge"; yes "") | python3 "$PWD/pmbootstrap/pmbootstrap.py" init || true
          
          # Жесткая настройка через официальные команды
          PMB="python3 $PWD/pmbootstrap/pmbootstrap.py"
          $PMB config device xiaomi-pipa
          $PMB config jobs $(nproc)
          $PMB config systemd never
          
          # Прописываем non-free провайдера (исправленный синтаксис для 3.9.0)
          sed -i '/\[providers\]/a firmware-xiaomi-pipa = device-xiaomi-pipa-nonfree-firmware' ~/.config/pmbootstrap.cfg

      - name: Build KDE Plasma
        run: |
           PMB="python3 $PWD/pmbootstrap/pmbootstrap.py -y --details-to-stdout"
           # Собираем Плазму
           $PMB install --password 147147 --add postmarketos-ui-plasma-desktop,device-xiaomi-pipa-nonfree-firmware,msm-firmware-loader,alsa-ucm-conf,maliit-keyboard
           $PMB export
           cp /tmp/postmarketOS-export/boot.img out/boot-plasma.img
           cp /tmp/postmarketOS-export/xiaomi-pipa.img out/rootfs-plasma.img
           
           # Очистка для Гнома
           yes | $PMB zap

      - name: Build GNOME Mobile
        run: |
           PMB="python3 $PWD/pmbootstrap/pmbootstrap.py -y --details-to-stdout"
           # Собираем Гном
           $PMB install --password 147147 --add postmarketos-ui-gnome-mobile,device-xiaomi-pipa-nonfree-firmware,msm-firmware-loader,alsa-ucm-conf
           $PMB export
           cp /tmp/postmarketOS-export/boot.img out/boot-gnome.img
           cp /tmp/postmarketOS-export/xiaomi-pipa.img out/rootfs-gnome.img

      - name: Upload Images
        uses: actions/upload-artifact@v4
        with:
           name: xiaomi-pipa-multi-ui
           path: out/*.img
           retention-days: 7
           
