name: Build pipa images
on:
  push:
  workflow_dispatch:

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Preparation
        run: mkdir out
        
      - name: Install pmbootstrap
        run: |
          git clone --depth=1 $(echo "aHR0cHM6Ly9naXRsYWIucG9zdG1hcmtldG9zLm9yZy9wb3N0bWFya2V0T1MvcG1ib290c3RyYXAuZ2l0" | base64 -d) pmb-git
          mkdir -p ~/.local/bin
          ln -s "$GITHUB_WORKSPACE/pmb-git/pmbootstrap.py" ~/.local/bin/pmbootstrap
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Setup pmaports
        run: |
          mkdir -p ~/.config
          
          # Жесткий конфиг: pipa вместо qemu, systemd выключен
          cat <<EOF > ~/.config/pmbootstrap.cfg
          [pmbootstrap]
          aports = /home/runner/.local/var/pmbootstrap/cache_git/pmaports
          work = /home/runner/.local/var/pmbootstrap
          jobs = $(nproc)
          mirror_alpine = http://mirror.postmarketos.org
          mirrors_postmarketos = http://mirror.postmarketos.org
          channel = edge
          vendor = xiaomi
          device = pipa
          ui = console
          user = runner
          boot_size = 256
          extra_space = 2048
          systemd = never
          is_default_channel = False
          EOF

          mkdir -p /home/runner/.local/var/pmbootstrap/cache_git
          git clone --depth=1 $(echo "aHR0cHM6Ly9naXRsYWIucG9zdG1hcmtldG9zLm9yZy9wb3N0bWFya2V0T1MvcG1hcG9ydHMuZ2l0" | base64 -d) /home/runner/.local/var/pmbootstrap/cache_git/pmaports
          
          cd /home/runner/.local/var/pmbootstrap/cache_git/pmaports
          git remote add pipa $(echo "aHR0cHM6Ly9naXRodWIuY29tL3BpcGEtcHJvamVjdC9wbWFwb3J0cy1waXBhLmdpdA==" | base64 -d)
          git fetch pipa master
          git reset --hard pipa/master
          
          # Фикс зависимости nofde и дубликатов (exit code 5)
          find . -type f \( -name "APKBUILD" -o -name "deviceinfo" \) -exec sed -i "s/$(echo "cG9zdG1hcmtldG9zLWJhc2Utbm9mZGU=" | base64 -d)/$(echo "cG9zdG1hcmtldG9zLWJhc2U=" | base64 -d)/g" {} +
          sed -i 's/doas-sudo-shim,//g;s/font-twemoji,//g' device/*/device-xiaomi-pipa/deviceinfo || true
          
          pmbootstrap checksum device-xiaomi-pipa
          pmbootstrap checksum device-xiaomi-pipa-nonfree-firmware
          pmbootstrap index

      - name: Build GNOME Image
        run: |
           pmbootstrap zap -y
           # Сборка образа pipa (aarch64) с GNOME
           pmbootstrap install --password 147147 --ui gnome --no-fde --add gparted,parted,nano
           pmbootstrap export
           cp /tmp/postmarketOS-export/boot.img out/boot-pipa-gnome.img
           cp /tmp/postmarketOS-export/xiaomi-pipa.img out/rootfs-pipa-gnome.img

      - name: Breakpoint on Failure
        if: failure()
        uses: namespacelabs/breakpoint-action@v0
        with:
          duration: 30m
          authorized-users: nixxizlab

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
           name: xiaomi-pipa-gnome
           path: out/*
           retention-days: 7
