name: Xiaomi Pad 6 Full Hardware Edge Build
on:
  push:
  workflow_dispatch:

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Free Disk Space (20GB+)
        run: |
          sudo rm -rf /usr/share/dotnet /opt/ghc "/usr/local/share/boost" "$AGENT_TOOLSDIRECTORY"

      - name: Create artifact directory
        run: mkdir out
        
      - name: Install pmbootstrap
        run: |
          U=$(echo "aHR0cHM6Ly9naXRsYWIucG9zdG1hcmtldG9zLm9yZy9wb3N0bWFya2V0T1MvcG1ib290c3RyYXAuZ2l0" | base64 -d)
          git clone --depth=1 "$U"
          echo "$PWD/pmbootstrap" >> $GITHUB_PATH

      - name: Force Official Init
        run: |
          (echo "edge"; yes "") | python3 "$PWD/pmbootstrap/pmbootstrap.py" init || true
          PMB="python3 $PWD/pmbootstrap/pmbootstrap.py"
          $PMB config device xiaomi-pipa
          $PMB config jobs $(nproc)
          $PMB config systemd never
          # Добавляем non-free провайдера через sed
          sed -i '/\[providers\]/a firmware-xiaomi-pipa = device-xiaomi-pipa-nonfree-firmware' ~/.config/pmbootstrap.cfg

      - name: Build and Export Full Support Image
        run: |
           PMB="python3 $PWD/pmbootstrap/pmbootstrap.py -y --details-to-stdout"
           
           # Полный набор для графики и железа
           $PMB install --password 147147 \
             --add postmarketos-ui-plasma-desktop \
             --add device-xiaomi-pipa-nonfree-firmware \
             --add msm-firmware-loader \
             --add alsa-ucm-conf \
             --add mesa-dri-gallium
           
           $PMB export
           cp /tmp/postmarketOS-export/boot.img out/boot-xiaomi-pipa.img
           cp /tmp/postmarketOS-export/xiaomi-pipa.img out/rootfs-xiaomi-pipa-plasma.img

      - name: Upload Full Plasma Images
        uses: actions/upload-artifact@v4
        with:
           name: xiaomi-pipa-plasma-full-hardware
           path: out/*.img
           retention-days: 7
           
