name: Xiaomi Pad 6 Official Edge Build (Plasma)
on:
  push:
  workflow_dispatch:

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Free Disk Space (20GB+)
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - name: Create artifact directory
        run: mkdir out
        
      - name: Install pmbootstrap
        run: |
          U=$(echo "aHR0cHM6Ly9naXRsYWIucG9zdG1hcmtldG9zLm9yZy9wb3N0bWFya2V0T1MvcG1ib290c3RyYXAuZ2l0" | base64 -d)
          git clone --depth=1 "$U"
          echo "$PWD/pmbootstrap" >> $GITHUB_PATH

      - name: Force Official Init
        run: |
          (echo "edge"; yes "") | python3 "$PWD/pmbootstrap/pmbootstrap.py" init || true
          PMB="python3 $PWD/pmbootstrap/pmbootstrap.py"
          $PMB config device xiaomi-pipa
          $PMB config extra_packages parted,cfdisk,gparted
          $PMB config jobs $(nproc)
          $PMB config systemd never

      - name: Build xiaomi-pipa (KDE Plasma)
        run: |
           PMB="python3 $PWD/pmbootstrap/pmbootstrap.py -y --details-to-stdout"
           
           # Сборка системы С ГРАФИКОЙ (UI: Plasma Desktop)
           $PMB install --password 147147 --add postmarketos-ui-plasma-desktop
           
           $PMB export
           cp /tmp/postmarketOS-export/boot.img out/boot-xiaomi-pipa-plasma.img
           cp /tmp/postmarketOS-export/xiaomi-pipa.img out/rootfs-xiaomi-pipa-plasma.img

      - name: Upload artifacts (Plasma Image)
        uses: actions/upload-artifact@v4
        with:
           name: xiaomi-pipa-plasma-image
           path: out/*.img*
           retention-days: 7

      - name: Copy and Upload kernel
        run: |
           # Удаляем имиджи, чтобы не мешали
           rm -f out/*.img
           WORK_PATH=$(python3 ./pmbootstrap/pmbootstrap.py config work)
           # Умный поиск ядра по всему воркспейсу
           find "$WORK_PATH/packages" -name "linux-postmarketos-qcom-sm8250-pipa-*.apk" -exec cp {} out/ \;

      - name: Upload kernel apk
        uses: actions/upload-artifact@v4
        with:
           name: xiaomi-pipa-kernel
           path: out/*.apk
           
