name: Build postmarketOS for Xiaomi Pad 6
on:
  push: branches: [ main ]
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ui: [plasma-desktop, gnome-mobile]
      fail-fast: false
    name: Build ${{ matrix.ui }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Free Disk Space
        run: |
          sudo rm -rf /usr/share/dotnet /opt/ghc "/usr/local/share/boost" "$AGENT_TOOLSDIRECTORY"
          sudo docker image prune --all --force

      - name: Setup pmbootstrap
        run: |
          git clone --depth=1 https://gitlab.postmarketos.org/postmarketos/pmbootstrap.git pmb
          echo "$PWD/pmb" >> $GITHUB_PATH

      - name: Initialize Workspace with Pipa-Project Ports
        run: |
          WORK_DIR="/home/ruzner/pmb_work"
          mkdir -p "$WORK_DIR/cache_git" /home/runner/.config
          git clone --depth=1 https://github.com/postmarketos/pmaports.git "$WORK_DIR/cache_git/pmaports"
          cd "$WORK_DIR/cache_git/pmaports"
          git remote add pipa https://github.com/pipa-project/pmaports-pipa.git
          git fetch pipa master
          git reset --hard pipa/master
          echo "8" > "$WORK_DIR/version"
          cat <<EOF > /home/runner/.config/pmbootstrap.cfg
          [pmbootstrap]
          config_version = 3
          device = xiaomi-pipa
          work = $WORK_DIR
          jobs = $(nproc)
          repository = edge
          is_default_channel = True
          ui = ${{ matrix.ui }}
          systemd = never
          EOF

      - name: Build Kernel & System Image
        run: |
          PM2="python3 pmb/pmbootstrap.py -y"
          EXTRA="linux-postmarketos-qcom-sm8250-pipa,linux-xiaomi-pipa,device-xiaomi-pipa,device-xiaomi-pipa-nonfree-firmware,msm-firmware-loader,alsa-ucm-conf,mesa-dri-gallium"

          [ "${{ matrix.ui }}" == "plasma-desktop" ] && EXTRA="$EXTRA,maliit-keyboard"
          $PM2 install --password 147147 --add "$EXTRA"
          $PM2b export --type fastboot
          mkdir -p out
          cp /tmp/postmarketOS-export/boot.img out/boot-xiaomi-pipa.img
          cp /tmp/postmarketOS-export/xiaomi-pipa.img out/rootfs-xiaomi-pipa-${{ matrix.ui }}.img

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: xiaomi-pipa-${{ matrix.ui }}
          path: out/*
          retention-days: 7
