name: Build Xiaomi Pad 6 postmarketOS
on:
  push:
    branches: [ main ]
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'  

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Free disk space
        run: |
          sudo rm -rf /usr/share/dotnet /opt/ghc "/usr/local/share/boost" "$AGENT_TOOLSDIRECTORY"
      
      - name: Create workspace
        run: mkdir out
        
      - name: Install pmbootstrap
        run: |
          U=$(echo "aHR0cHM6Ly9naXRsYWIucG9zdG1hcmtldG9zLm9yZy9wb3N0bWFya2V0b3MvcG1ib290c3RyYXAuZ2l0" | base64 -d)
          git clone --depth=1 "$U"
          echo "$PWD/pmbootstrap" >> $GITHUB_PATH

      - name: Configure pmbootstrap & Patch pmaports
        run: |
          WORK_DIR="/home/runner/pmb_work"
          mkdir -p /home/runner/.config "$WORK_DIR"
          
          # 1. Инициализация (скачивает дефолтные порты)
          cat <<EOF > /home/runner/.config/pmbootstrap.cfg
          [pmbootstrap]
          config_version = 3
          device = xiaomi-pipa
          work = $WORK_DIR
          jobs = $(nproc)
          repository = edge
          ui = plasma-desktop
          systemd = never
          EOF
          yes "" | python3 "$PWD/pmbootstrap/pmbootstrap.py" -c /home/runner/.config/pmbootstrap.cfg init || true
          
          # 2. ФИКС: Подменяем pmaports на версию от pipa-project (для звука и тача)
          cd "$WORK_DIR/cache_git/pmaports"
          R=$(echo "aHR0cHM6Ly9naXRodWIuY29tL3BpcGEtcHJvamVjdC9wbWFwb3J0cy1waXBhLmdpdA==" | base64 -d)
          git remote add pipa "$R"
          git fetch pipa master
          git reset --hard pipa/master
          echo "8" > "$WORK_DIR/version"

      - name: Build system image with Kernel
        run: |
           PMB="python3 $PWD/pmbootstrap/pmbootstrap.py -y -c /home/runner/.config/pmbootstrap.cfg --details-to-stdout"
           
           # Добавляем пакеты ядра и фиксы pipa-project
           # Ядро может называться linux-postmarketos-qcom-sm8250-pipa или linux-xiaomi-pipa
           $PMB install --password 147147 \
             --add linux-postmarketos-qcom-sm8250-pipa,linux-xiaomi-pipa \
             --add postmarketos-ui-plasma-desktop \
             --add device-xiaomi-pipa-nonfree-firmware \
             --add msm-firmware-loader \
             --add alsa-ucm-conf \
             --add mesa-dri-gallium \
             --add maliit-keyboard
           
           $PMB export
           cp /tmp/postmarketOS-export/boot.img out/boot-xiaomi-pipa.img
           cp /tmp/postmarketOS-export/xiaomi-pipa.img out/rootfs-xiaomi-pipa-plasma.img

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
           name: xiaomi-pipa-plasma-edge
           path: out/*.img
           retention-days: 7
