name: Xiaomi Pad 6 Official Edge Build
on:
  push:
  workflow_dispatch:

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Create artifact directory
        run: mkdir out
        
      - name: Install pmbootstrap
        run: |
          U=$(echo "aHR0cHM6Ly9naXRsYWIucG9zdG1hcmtldG9zLm9yZy9wb3N0bWFya2V0T1MvcG1ib290c3RyYXAuZ2l0" | base64 -d)
          git clone --depth=1 "$U"
          echo "$PWD/pmbootstrap" >> $GITHUB_PATH

      - name: Force Official Init
        run: |
          # Используем yes "" чтобы отвечать Enter на ЛЮБОЕ количество вопросов
          yes "" | python3 "$PWD/pmbootstrap/pmbootstrap.py" init || true
          
          # Теперь ПРИНУДИТЕЛЬНО меняем девайс и параметры в созданном конфиге
          PMB="python3 $PWD/pmbootstrap/pmbootstrap.py"
          $PMB config device xiaomi-pipa
          $PMB config extra_packages parted,cfdisk,gparted
          $PMB config jobs $(nproc)
          $PMB config systemd never
          $PMB config repository edge
          
          # Проверка: что в итоге записалось в конфиг
          $PMB config device

      - name: Build xiaomi-pipa
        run: |
           # Запускаем билд. Теперь у него есть официальный воркспейс.
           PMB="python3 $PWD/pmbootstrap/pmbootstrap.py -y"
           
           $PMB install --password 147147
           $PMB export
           
           cp /tmp/postmarketOS-export/boot.img out/boot-xiaomi-pipa.img
           cp /tmp/postmarketOS-export/xiaomi-pipa.img out/rootfs-xiaomi-pipa-none.img

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
           name: xiaomi-pipa-none
           path: out/*.img*
           retention-days: 7
           
