name: Build Xiaomi Pad 6 postmarketOS
on:
  push:
    branches: [ main ]
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'  

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Free disk space
        run: |
          sudo rm -rf /usr/share/dotnet /opt/ghc "/usr/local/share/boost" "$AGENT_TOOLSDIRECTORY"
      
      - name: Create workspace
        run: mkdir out
        
      - name: Install pmbootstrap
        run: |
          # Прямая ссылка на официальный GitLab
          git clone --depth=1 https://gitlab.postmarketos.org pmb
          echo "$PWD/pmb" >> $GITHUB_PATH

      - name: Clone and Patch pmaports
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          WORK_DIR="$PWD/pmb_work"
          mkdir -p "$WORK_DIR/cache_git"
          
          # Клонируем через стандартный протокол, используя токен из окружения
          git clone --depth=1 https://x-access-token:${GH_TOKEN}@://github.com "$WORK_DIR/cache_git/pmaports"
          
          cd "$WORK_DIR/cache_git/pmaports"
          # Подключаем pipa-project
          git remote add pipa https://x-access-token:${GH_TOKEN}@://github.com
          git fetch pipa master
          git reset --hard pipa/master
          echo "8" > "$WORK_DIR/version"

      - name: Configure pmbootstrap
        run: |
          WORK_DIR="$PWD/pmb_work"
          mkdir -p /home/runner/.config
          
          cat <<EOF > /home/runner/.config/pmbootstrap.cfg
          [pmbootstrap]
          config_version = 3
          device = xiaomi-pipa
          work = $WORK_DIR
          jobs = $(nproc)
          repository = edge
          ui = plasma-desktop
          systemd = never
          EOF
          
          # Инициализация
          python3 pmb/pmbootstrap.py -c /home/runner/.config/pmbootstrap.cfg init || true

      - name: Build system image with Kernel
        run: |
           PMB="python3 pmb/pmbootstrap.py -y -c /home/runner/.config/pmbootstrap.cfg --details-to-stdout"
           
           $PMB install --password 147147 \
             --add linux-postmarketos-qcom-sm8250-pipa,linux-xiaomi-pipa \
             --add postmarketos-ui-plasma-desktop \
             --add device-xiaomi-pipa-nonfree-firmware \
             --add msm-firmware-loader \
             --add alsa-ucm-conf \
             --add mesa-dri-gallium \
             --add maliit-keyboard
           
           $PMB export
           cp /tmp/postmarketOS-export/boot.img out/boot-xiaomi-pipa.img
           cp /tmp/postmarketOS-export/xiaomi-pipa.img out/rootfs-xiaomi-pipa-plasma.img

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
           name: xiaomi-pipa-plasma-edge
           path: out/*.img
           retention-days: 7
