name: Xiaomi Pad 6 Official Edge Build (Plasma)
on:
  push:
  workflow_dispatch:

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Free Disk Space (20GB+)
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - name: Create artifact directory
        run: mkdir out
        
      - name: Install pmbootstrap
        run: |
          U=$(echo "aHR0cHM6Ly9naXRsYWIucG9zdG1hcmtldG9zLm9yZy9wb3N0bWFya2V0T1MvcG1ib290c3RyYXAuZ2l0" | base64 -d)
          git clone --depth=1 "$U"
          echo "$PWD/pmbootstrap" >> $GITHUB_PATH

      - name: Force Official Init
        run: |
          (echo "edge"; yes "") | python3 "$PWD/pmbootstrap/pmbootstrap.py" init || true
          PMB="python3 $PWD/pmbootstrap/pmbootstrap.py"
          $PMB config device xiaomi-pipa
          $PMB config extra_packages parted,cfdisk,gparted
          $PMB config jobs $(nproc)
          $PMB config systemd never

      - name: Build and Export (Split Images)
        run: |
           PMB="python3 $PWD/pmbootstrap/pmbootstrap.py -y --details-to-stdout"
           
           # Сборка Plasma
           $PMB install --password 147147 --add postmarketos-ui-plasma-desktop
           
           # Экспорт раздельных файлов (boot и rootfs)
           $PMB export
           
           # Копируем ОБА образа. boot.img всегда создается отдельно при экспорте.
           cp /tmp/postmarketOS-export/boot.img out/boot-xiaomi-pipa.img
           cp /tmp/postmarketOS-export/xiaomi-pipa.img out/rootfs-xiaomi-pipa-plasma.img

      - name: Copy Kernel APK
        run: |
           WORK_PATH=$(python3 ./pmbootstrap/pmbootstrap.py config work)
           # Ищем apk ядра по маске и копируем в out
           find "$WORK_PATH/packages" -name "linux-postmarketos-qcom-sm8250*.apk" -exec cp {} out/ \;

      - name: Upload Images
        uses: actions/upload-artifact@v4
        with:
           name: xiaomi-pipa-plasma-images
           path: out/*.img
           retention-days: 7

      - name: Upload Kernel APK
        uses: actions/upload-artifact@v4
        with:
           name: xiaomi-pipa-kernel-apk
           path: out/*.apk
           retention-days: 7
           
