name: Build pipa images
on:
  push:
  workflow_dispatch:

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Preparation
        run: mkdir out
        
      - name: Install pmbootstrap
        run: |
          git clone --depth=1 $(echo "aHR0cHM6Ly9naXRsYWIucG9zdG1hcmtldG9zLm9yZy9wb3N0bWFya2V0T1MvcG1ib290c3RyYXAuZ2l0" | base64 -d) pmb-git
          mkdir -p ~/.local/bin
          ln -s "$GITHUB_WORKSPACE/pmb-git/pmbootstrap.py" ~/.local/bin/pmbootstrap
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Setup Environment
        run: |
          mkdir -p ~/.config
          cp xiaomi-pipa.cfg ~/.config/pmbootstrap.cfg
          
          # ДЕКОДИРОВАНИЕ ССЫЛОК И ЗАМЕНА ПЕРЕМЕННЫХ
          sed -i "s|aHR0cDovL2RsLWNkbi5hbHBpbmVsaW51eC5vcmcvYWxwaW5lLw==|$(echo "aHR0cDovL2RsLWNkbi5hbHBpbmVsaW51eC5vcmcvYWxwaW5lLw==" | base64 -d)|g" ~/.config/pmbootstrap.cfg
          sed -i "s|aHR0cDovL21pcnJvci5wb3N0bWFya2V0b3Mub3JnL3Bvc3RtYXJrZXRvcy8=|$(echo "aHR0cDovL21pcnJvci5wb3N0bWFya2V0b3Mub3JnL3Bvc3RtYXJrZXRvcy8=" | base64 -d)|g" ~/.config/pmbootstrap.cfg
          sed -i "s|HOME|/home/runner|g;s|NPROC|$(nproc)|g" ~/.config/pmbootstrap.cfg
          
          # ФИКС ВЕРСИИ WORKDIR
          mkdir -p /home/runner/.local/var/pmbootstrap/cache_git
          mkdir -p /home/runner/.local/var/pmbootstrap/chroot_native
          echo "8" > /home/runner/.local/var/pmbootstrap/version
          
          # КЛОН PMAPORTS
          git clone --depth=1 $(echo "aHR0cHM6Ly9naXRsYWIucG9zdG1hcmtldG9zLm9yZy9wb3N0bWFya2V0T1MvcG1hcG9ydHMuZ2l0" | base64 -d) /home/runner/.local/var/pmbootstrap/cache_git/pmaports
          cd /home/runner/.local/var/pmbootstrap/cache_git/pmaports
          git remote add pipa $(echo "aHR0cHM6Ly9naXRodWIuY29tL3BpcGEtcHJvamVjdC9wbWFwb3J0cy1waXBhLmdpdA==" | base64 -d)
          git fetch pipa master && git reset --hard pipa/master
          
          # ВЫРЕЗАЕМ NOFDE И ДУБЛИКАТЫ
          find . -type f \( -name "APKBUILD" -o -name "deviceinfo" \) -exec sed -i "s/$(echo "cG9zdG1hcmtldG9zLWJhc2Utbm9mZGU=" | base64 -d)/$(echo "cG9zdG1hcmtldG9zLWJhc2U=" | base64 -d)/g" {} +
          sed -i 's/doas-sudo-shim,//g;s/font-twemoji,//g' device/*/device-xiaomi-pipa/deviceinfo || true
          
          pmbootstrap --config ~/.config/pmbootstrap.cfg checksum device-xiaomi-pipa
          pmbootstrap --config ~/.config/pmbootstrap.cfg index

      - name: Build Plasma
        run: |
           pmbootstrap --config ~/.config/pmbootstrap.cfg zap -y
           pmbootstrap --config ~/.config/pmbootstrap.cfg install --ui plasma-mobile --no-fde --add gparted,parted
           pmbootstrap --config ~/.config/pmbootstrap.cfg export
           cp /tmp/postmarketOS-export/boot.img out/boot-pipa-plasma.img
           cp /tmp/postmarketOS-export/xiaomi-pipa.img out/rootfs-pipa-plasma.img

      - name: Build GNOME
        run: |
           pmbootstrap --config ~/.config/pmbootstrap.cfg zap -y
           pmbootstrap --config ~/.config/pmbootstrap.cfg install --ui gnome --no-fde --add gparted,parted,nano
           pmbootstrap --config ~/.config/pmbootstrap.cfg export
           cp /tmp/postmarketOS-export/boot.img out/boot-pipa-gnome.img
           cp /tmp/postmarketOS-export/xiaomi-pipa.img out/rootfs-pipa-gnome.img

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
           name: xiaomi-pipa-builds
           path: out/*
           retention-days: 7
