name: Build Xiaomi Pad 6 postmarketOS
on:
  push:
  workflow_dispatch:

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Free disk space
        run: |
          sudo rm -rf /usr/share/dotnet /opt/ghc "/usr/local/share/boost" "$AGENT_TOOLSDIRECTORY"
      
      - name: Create workspace
        run: mkdir out
        
      - name: Install pmbootstrap
        run: |
          G="https://github.com"
          git clone --depth=1 $G/postmarketOS/pmbootstrap.git pmb
          echo "$PWD/pmb" >> $GITHUB_PATH

      - name: Configure pmbootstrap
        run: |
          WORK_DIR="/home/runner/pmb_work"
          mkdir -p /home/runner/.config "$WORK_DIR/cache_git"
          
          G="https://github.com"
          git clone --depth=1 $G/postmarketOS/pmaports.git "$WORK_DIR/cache_git/pmaports"
          echo "8" > "$WORK_DIR/version"

          cat <<EOF > /home/runner/.config/pmbootstrap.cfg
          [pmbootstrap]
          config_version = 3
          device = xiaomi-pipa
          work = $WORK_DIR
          jobs = $(nproc)
          repository = edge
          is_default_channel = True
          ui = console
          systemd = never
          [providers]
          firmware-xiaomi-pipa = device-xiaomi-pipa-nonfree-firmware
          EOF
          
          python3 pmb/pmbootstrap.py -c /home/runner/.config/pmbootstrap.cfg init || true

      - name: Build Plasma Desktop
        run: |
           PMB="python3 pmb/pmbootstrap.py -y -c /home/runner/.config/pmbootstrap.cfg"
           $PMB install --password 147147 \
             --add postmarketos-ui-plasma-desktop,device-xiaomi-pipa-nonfree-firmware,msm-firmware-loader,alsa-ucm-conf,mesa-dri-gallium,maliit-keyboard
           $PMB export
           cp /tmp/postmarketOS-export/boot.img out/boot-plasma.img
           cp /tmp/postmarketOS-export/xiaomi-pipa.img out/rootfs-plasma.img
           
           sudo rm -rf /tmp/postmarketOS-export/*
           yes | $PMB zap

      - name: Build GNOME Mobile
        run: |
           PMB="python3 pmb/pmbootstrap.py -y -c /home/runner/.config/pmbootstrap.cfg"
           $PMB install --password 147147 \
             --add postmarketos-ui-gnome-mobile,device-xiaomi-pipa-nonfree-firmware,msm-firmware-loader,alsa-ucm-conf,mesa-dri-gallium
           $PMB export
           cp /tmp/postmarketOS-export/boot.img out/boot-gnome.img
           cp /tmp/postmarketOS-export/xiaomi-pipa.img out/rootfs-gnome.img

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
           name: xiaomi-pipa-multi-ui
           path: out/*.img
           retention-days: 7
