name: Xiaomi Pad 6 Official Edge Build
on:
  push:
  workflow_dispatch:

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Install pmbootstrap
        run: |
          git clone --depth=1 "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@://github.com" "$GITHUB_WORKSPACE/pmbootstrap"
          chmod +x "$GITHUB_WORKSPACE/pmbootstrap/pmbootstrap.py"
          echo "$GITHUB_WORKSPACE/pmbootstrap" >> $GITHUB_PATH

      - name: Setup Configuration
        run: |
          mkdir -p $HOME/.config
          cat <<EOF > $HOME/.config/pmbootstrap.cfg
          [pmbootstrap]
          config_version = 3
          device = xiaomi-pipa
          work = $HOME/pmb_work
          repository = edge
          jobs = $(nproc)
          mirror_alpine = http://dl-cdn.alpinelinux.org
          ui = console
          EOF

      - name: Build xiaomi-pipa
        run: |
          PMB="python3 $GITHUB_WORKSPACE/pmbootstrap/pmbootstrap.py -y -c $HOME/.config/pmbootstrap.cfg"
          
          # Запуск сборки (pmbootstrap сам создаст папки и скачает порты)
          $PMB install --password 147147
          $PMB export
          
          mkdir -p out
          cp /tmp/postmarketOS-export/boot.img out/boot-xiaomi-pipa.img
          cp /tmp/postmarketOS-export/xiaomi-pipa.img out/rootfs-xiaomi-pipa-none.img

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
           name: xiaomi-pipa-none
           path: out/*.img
           retention-days: 7

      - name: Copy and Upload kernel
        run: |
           cp $HOME/pmb_work/packages/edge/aarch64/linux-postmarketos-qcom-sm8250-pipa-*.apk out/ 2>/dev/null || true
           
      - name: Upload kernel apk
        uses: actions/upload-artifact@v4
        with:
           name: xiaomi-pipa-kernel
           path: out/*.apk
           
