name: Build Official Pipa Edge
on:
  push:
  workflow_dispatch:

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Check out your repository
        uses: actions/checkout@v4

      - name: Install pmbootstrap
        run: |
          URL=$(echo "aHR0cHM6Ly9naXRsYWIucG9zdG1hcmtldG9zLm9yZy9wb3N0bWFya2V0T1MvcG1ib290c3RyYXAuZ2l0" | base64 -d)
          git clone --depth=1 "$URL"
          mkdir -p ~/.local/bin
          ln -s "$PWD/pmbootstrap/pmbootstrap.py" ~/.local/bin/pmbootstrap
          chmod +x "$PWD/pmbootstrap/pmbootstrap.py"
          echo "$PWD/pmbootstrap" >> $GITHUB_PATH

      - name: Create artifact directory
        run: mkdir out
        
      - name: Substitute placeholders in configs
        run: |
           find . -type f -name "*.cfg" -exec sed -i "s|HOME|$(echo $HOME)|;s|NPROC|$(nproc)|" {} +

      - name: Set up official pmaports
        run: |
          mkdir -p ~/.config
          cat <<EOF > ~/.config/pmbootstrap.cfg
          [pmbootstrap]
          config_version = 3
          work = /home/runner/pmb_work
          jobs = $(nproc)
          repository = edge
          mirror_alpine = http://dl-cdn.alpinelinux.org
          aports = /home/runner/pmb_work/cache_git/pmaports
          EOF
          
          mkdir -p /home/runner/pmb_work/cache_git
          P_URL=$(echo "aHR0cHM6Ly9naXRsYWIucG9zdG1hcmtldG9zLm9yZy9wb3N0bWFya2V0T1MvcG1hcG9ydHMuZ2l0" | base64 -d)
          git clone --depth=1 "$P_URL" /home/runner/pmb_work/cache_git/pmaports

      - name: Build xiaomi-pipa (Console)
        run: |
           sed -i '/\[pmbootstrap\]/a config_version = 3' xiaomi-pipa.cfg
           # Перезаписываем временный конфиг твоим xiaomi-pipa.cfg
           cp xiaomi-pipa.cfg ~/.config/pmbootstrap.cfg
           
           python3 ./pmbootstrap/pmbootstrap.py install --password 147147
           python3 ./pmbootstrap/pmbootstrap.py export
           cp /tmp/postmarketOS-export/boot.img out/boot-xiaomi-pipa.img
           cp /tmp/postmarketOS-export/xiaomi-pipa.img out/rootfs-xiaomi-pipa-none.img

      - name: Upload artifacts (Console)
        uses: actions/upload-artifact@v4
        with:
           name: xiaomi-pipa-none
           path: out/*.img
           retention-days: 7

      - name: Copy kernel apk
        run: |
           rm -f out/*
           cp /home/runner/pmb_work/packages/edge/aarch64/linux-postmarketos-qcom-sm8250-pipa-*.apk out/ 2>/dev/null || true
      
      - name: Upload kernel
        uses: actions/upload-artifact@v4
        with:
           name: xiaomi-pipa-kernel
           path: out/*.apk
           retention-days: 7
           
