name: Xiaomi Pad 6 postmarketOS
on:
  push:
  workflow_dispatch:

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Check out build configurations
        uses: actions/checkout@v4

      - name: Substitute placeholders
        run: |
           sed -i '/\[pmbootstrap\]/a config_version = 3' xiaomi-pipa.cfg
           find . -type f -name "*.cfg" -exec sed -i "s|HOME|$(echo $HOME)|;s|NPROC|$(nproc)|" {} +

      - name: Install pmbootstrap
        run: |
          URL=$(echo "aHR0cHM6Ly9naXRsYWIucG9zdG1hcmtldG9zLm9yZy9wb3N0bWFya2V0T1MvcG1ib290c3RyYXAuZ2l0" | base64 -d)
          git clone --depth=1 "$URL"
          echo "$PWD/pmbootstrap" >> $GITHUB_PATH

      - name: Set up pmaports
        run: |
          mkdir -p ~/.config
          cp xiaomi-pipa.cfg ~/.config/pmbootstrap.cfg
          python3 "$PWD/pmbootstrap/pmbootstrap.py" init --config ~/.config/pmbootstrap.cfg --no-confirm || true
          
          mkdir -p ~/.local/var/pmbootstrap/cache_git/pmaports
          cd ~/.local/var/pmbootstrap/cache_git/pmaports
          P_URL=$(echo "aHR0cHM6Ly9naXRsYWIucG9zdG1hcmtldG9zLm9yZy9wb3N0bWFya2V0T1MvcG1hcG9ydHMuZ2l0" | base64 -d)
          git init . || true
          git remote add origin "$P_URL" || git remote set-url origin "$P_URL"
          git fetch origin master
          git reset --hard origin/master

      - name: Build xiaomi-pipa
        run: |
           cp xiaomi-pipa.cfg ~/.config/pmbootstrap.cfg
           python3 "$PWD/pmbootstrap/pmbootstrap.py" install --password 147147
           python3 "$PWD/pmbootstrap/pmbootstrap.py" export
           mkdir -p out
           cp /tmp/postmarketOS-export/boot.img out/boot-xiaomi-pipa.img
           cp /tmp/postmarketOS-export/xiaomi-pipa.img out/rootfs-xiaomi-pipa-none.img

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
           name: xiaomi-pipa-none
           path: out/*.img*
           retention-days: 7
