      - name: Build the xiaomi-pipa without DE
        run: |
           mkdir -p ~/.config
           cp xiaomi-pipa.cfg ~/.config/pmbootstrap.cfg
           
           # Явно указываем девайс, чтобы он не билдил qemu
           python3 "$PWD/pmbootstrap/pmbootstrap.py" install --device xiaomi-pipa --password 147147
           
           python3 "$PWD/pmbootstrap/pmbootstrap.py" export --device xiaomi-pipa
           cp /tmp/postmarketOS-export/boot.img out/boot-xiaomi-pipa.img
           cp /tmp/postmarketOS-export/xiaomi-pipa.img out/rootfs-xiaomi-pipa-none.img
           
